@{
    ViewData["Title"] = "Saisir le code de validation";
}
<div class="containerr" style="background-color:rgba(0, 0, 0, 0.5);">
    <h1 style="color:red; font-weight:bold;">Saisir le code de validation</h1>

    <form asp-action="SubmitVerificationCode" method="post">
        <div class="form-group">

            <input type="number" class="form-control" id="verificationCode" name="verificationCode">
        </div>
        <button type="submit" class="btn btn-outline-success">Valider le code de validation</button>
    </form>
</div>