<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.8"/>
		<httpRuntime targetFramework="4.8"/>
	</system.web>
	<system.net>
		<mailSettings>
			<smtp from="radissonh119@gmail.com">
				<network host="smtp.gmail.com" port="587" userName="radissonh119@gmail.com" password="0628408863radi" enableSsl="true"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>