@{
    ViewData["Title"] = " About";
}
<div class="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="titlepage">

                    <p class="margin_0">Radisson Hotels & Resorts est un groupe hôtelier américain exploitant 435 hôtels dans 61 pays, pour un total de 102 000 chambres1 division de Radisson Hotel Group. Elle exploite plusieurs marques dont Radisson Blu. Le siège social du groupe se trouve à Minnetonka dans le Minnesota.  </p>
                    <a class="read_more" href="Javascript:void(0)"> Read More</a>
                </div>
            </div>
            <div class="col-md-7">
                <div class="about_img">
                    <figure><img src="~/Images/about.png" alt="#" /></figure>
                </div>
            </div>
        </div>
    </div>
</div>